<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_name %><br>
    <%= f.text_field :client_name %>
  </div>
  <div class="field">
    <%= f.label :shipping_address %><br>
    <%= f.text_area :shipping_address %>
  </div>


 <% @order.order_lines.each do |order_line| %>
    <%= f.fields_for :order_lines, order_line do |order_line_fields| %>
        <%= render 'order_line_fields', :f => order_line_fields %> 
    <% end %>
  <% end %>
  <p>
     <%= link_to_add_fields 'Add', f, :order_lines %>
  </p>
  



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
