<p class="fields">
	  <%= f.collection_select :article_id, Article.all, :id, :title %>
	  <%= f.text_field :quantity %>  
	  <%= f.check_box :_destroy %>
	  <%= link_to_function 'Remove', "remove_fields(this)" %>
</p>	