<!DOCTYPE html>
<html>
<head>
  <title>Invoicing</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <ul>
      <li><%=link_to 'Articles', articles_path %></li>
      <li><%=link_to 'Orders', orders_path %></li>
    </ul>
  </header>

<%= yield %>

</body>
</html>
